footer
{
    background-color: #272D33;
    color: #fff;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    margin-top: 150px;
}

h5
{
    font-size: 12pt;
}

h6
{
    font-size: 10pt;
}

.lista_cont
{
    font-size: 10pt;
}

.p_abajo
{
    margin-top: 10px;
}

.f_express
{
    max-width: auto;
    max-height: 50px;
    margin-left: 20px;
}

.icono_facebook
{
    max-width: 30px;
    max-height: 30px;
}