nav
{
    background-color: #272D33;
    min-height: 900px;
}

.titulo
{
    font-size: 22pt;
    color: #fff;
    margin-top: 10px;
}

.foto_perfil
{
    max-width: 120px;
    max-height: 120px;
    margin-top: 10px;
}

.items
{
    color: #fff;
    font-size: 14pt;
    margin-bottom: 10px;
}

.link_drop
{
    color: #fff;
    text-decoration: none;
}

.sep_hr
{
    margin-top: 0%;
    margin-bottom: 0%;
}



/*Informacion*/
.container
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.mensaje_arriba
{
    font-size: 19.8pt;
}

.barras_mensaje
{
    margin-top: 5px;
}

.foto
{
    max-width: 160px;
}


.cont_form
{
    padding: 10px;
}

.label_form
{
    margin-bottom: 10px;
}

.texto_label
{
    font-size: 14pt;
}

.boton_guardar
{
    margin-top: 25px;
}

.boton_guardar_dos
{
    margin-top: 30px;
}

.texto_boton_guardar
{
    font-size: 14pt;
    border-width: 2px;
    border-color: #0254EB;
    color: #0254EB;
}

.texto_boton_guardar:hover
{
    font-size: 14pt;
    border-width: 2px;
    border-color: #0254EB;
    background-color: #0254EB;
    color: #fff;
}

.fila_2
{
    margin-top: 30px;
}

.cont_tel_btn
{
    padding-left: 10px;
    padding-right: 10px;
}